*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
}

body {
    font: 1.6rem Helvetica;
    margin: 0;
    line-height: 2.2;

    height: 100%;
    width: 100%;

}

.form-control {
    border-radius: 1.25rem !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.form-control:focus {
    /* color: #495057; */
    background-color: #fff;
    /* border-color: rgba(138, 97, 245, .45); */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(138, 97, 245, .45);
}

.grid .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 7rem;
   

}

li {
    list-style-type: none;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 0em;
    ;
}

.brand a {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

}

.brand a:hover {
    color: #000;
    text-decoration: none
}

.header-links a {
    color: #000;
    text-decoration: none;
    padding: 0 .5em
}

/* .col-sm-3 {
    flex: 0 0 25%;
    max-width: 15%;
} */

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;

}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip-1 img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.col-sm-9 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    height: 30rem;
    border-left: solid #000 1px;
}

.container {
    border-radius: 20%;
    border: 1px solid #000;
    height: 15em;
    border-radius: 10%;
    padding: 1em;
    /* height: 20rem; */
    height: 50vh !important;
}



button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 20px;
}

.Name {
    display: flex;
}

.Name p {
    padding: 0 85px;
}



.container.space-between {
    justify-content: space-between;
}


button {
    border-radius: 15px;
}

input {
    width: 80%;
}

button,
select {
    text-transform: none;
    border: solid #000 1px;
    border-radius: 15px;
}

.container,
.container-sm {
    max-width: 540px;
    height: 150px;
}

.container,
.container-lg,
.container-md,
.container-sm {
    max-width: 960px;
    border-radius: 20px;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    color: #000;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid #000;
    height: 50px;

}

.social-icons .fab {
    font-size: 22px;
    padding: 0.35em;
    color: #000;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.side-prof {
    margin-top: 50px;
    padding-left: 60px !important;
}




.block {
    width: 100px;
    margin: auto;
}